#field-edit-container {
  background: #fff;
}

.custom-edit-cancel {
  border: 1px solid #ddd;
  width: 60px;
  text-align: center;
  padding: 0 2px;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 0;
  margin-right: -70px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #666;
  background: #fcd4d4;
}

.custom-editable.click-disabled {
  cursor: url('not-allowed.gif'), 'wait';
}

.inline-edit-button {
  border: 1px solid #ddd;
  float: right;
  font-size: 13px;
  padding: 0 20px;
  border-radius: 3px;
  cursor: pointer;
  color: #666;
  margin-right: -70px;
}

.inline-edit-button:hover {
  background: #eee;
}

.custom-edit-save {
  background: #99f7a0 !important;
  padding: 2px 18px !important;
  border-radius: 3px !important;
  color: #666 !important;
  border: 1px solid #ddd !important;
  float: right;
  margin-right: -71px !important;
  font-size: 14px !important;
  position: absolute;
  top: 0;
  right: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.current-edit {
  position: relative;
}


.apply-border {
  background: #cbcecd;
}


